*::before, *::after {
  box-sizing: border-box; /* select everything to border box, 
  double colon may not be supported on all browsers, difference between pseudo elements and classes.
  The CSS ::before selector inserts content before a selected element. 
  CSS :after inserts content after a specified element. 
  These selectors are commonly used to add text before or after a paragraph or a link.

  This did not appear to change anthing when I took it away
  */
}
body {
  margin: 0;
  background: linear-gradient(to right, pink, lightblue);
}
h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1:hover{
  cursor: pointer;
}
.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  /*  the auto makes it so the top row expands for a large number */
  animation-name: boxSlideIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
 
}
@keyframes boxSlideIn {
 from {
   margin-right: 100%;
   width: 300%;
 }
 to {
  margin-left: 0%;
  width: 100%;
 }
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  border: solid 1px black;
}
.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}
.span-two{
  grid-column: span 2;
  
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.output .current-operand {
  color: white;
  font-size: 2.5rem;
}